@model Prueba1.Models.AlumnoModel;
@{
    ViewData["Title"] = "Guardar";
}

<h1>Guardar</h1>
<form asp-action="Crear" asp-controller="Alumno" method="post">
    <div class="col-6">
        <lable class="form-lable">Alumno</lable>
        <input type="text" class="form-control" />
    </div>
</form>
